<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hstrobel.lsfplan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.MainActivity"
            android:label="Htwg LSF">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.download.WebviewSelector"
            android:label="@string/title_activity_web_selector"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hstrobel.lsfplan.gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.settings.UserSettings"
            android:label="@string/action_settings"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hstrobel.lsfplan.gui.MainActivity" />
        </activity>

        <activity
            android:name=".gui.download.NativeSelector"
            android:label="@string/title_activity_html_web_selector"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hstrobel.lsfplan.gui.MainActivity" />
        </activity>

        <receiver android:name=".model.AlarmReceiver" />
        <receiver
            android:name=".model.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hstrobel.lsfplan.model.SyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
